@import 'tailwindcss';
@theme {
  --font-title: Montserrat, sans-serif;
  --font-body: Poppins, sans-serif;
  --color-background-alt: #0a1622;
  --color-background: #0d1b2a;
  --color-txt-light: #e6e6e6;
  --color-txt-dark: #1a1a1a;
  --color-primary: #f57b7a;
  --color-secondary: #82a7a6;
  --color-accent: #2ec4b6;
  --color-cards: #1e2a38;
}

body {
  background-color: #0d1b2a;
}

html,
body {
  overflow-x: hidden;
}

section {
  @apply px-4 py-5 md:py-10 w-full md:px-12 lg:px-30 xl:px-50;
}

/* Animation Styling */
@layer utilities {
  @keyframes gradient-animate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient-animate 3s linear infinite;
  }
}
