@import 'tailwindcss';
@theme {
  --font-size-title: 1.25rem;
  --font-size-body: 1.125rem;
  --font-size-small: 1rem;
  --font-title: Montserrat, sans-serif;
  --font-body: Poppins, sans-serif;

  --color-background: #0d1b2a;
  --color-txt-light: #e6e6e6;
  --color-primary: #f57b7a;
  --color-secondary: #82a7a6;
  --color-accent: #2ec4b6;
  --color-topBar: #1c1c1ebe;
}

body {
  background-color: #0d1b2a;
}

html, body {
  overflow-x: hidden;
}

section {
  @apply px-6 py-6 w-full sm:px-8 md:px-12 lg:px-20 xl:px-32 2xl:px-40;
}
