@import "tailwindcss";
@theme {
  --font-size-title: 1.25rem;
  --font-size-body: 1.125rem;
  --font-size-small: 1rem;
  --font-title: Montserrat, sans-serif;
  --font-body: Poppins, sans-serif;

  --color-background: #0D1B2A;
  --color-text: #E6E6E6;
  --color-primary: #F57B7A;
  --color-secondary: #82A7A6;
  --color-accent: #2EC4B6;
  --color-topBar: #1c1c1ebe;
}

body {
  background-color: #0d1b2a;
}
